.git
*.zip
*.egg-info
*.jpg
*.png
output/*
data/custom/images/*
data/custom/labels/*
data/samples/*
weights/*.weights
weights/darknet53.conv.74
checkpoints/*
logs/*
mixed/images/*
mixed/labels/*
pf/images/*
pf/labels/*
pf/Falciparum
pf/*.zip
pm/images/*
pm/labels/*
pm/*.zip
po/images/*
po/labels/*
po/Ovale
po/*/*.TIFF
po/*/*.jpg
pv/images/*
pv/labels/*
pv/Vivax
pv/tmp_images
pv/*.zip
WBCs/images/*
WBCs/labels/*
WBCs/GroundTruthSegmentation
WBCs/MainDataset
WBCs/LISC Database.zip